Title: What Readers Are Saying
Order: 1
---
<div class="row 150%">
    <div class="4u 12u(mobile)">
        <section class="highlight">
            <p>A newspaper quote.</p>
            <h3><a href="#">Daily Newspaper</a></h3>
        </section>
    </div>
    <div class="4u 12u(mobile)">
        <section class="highlight">
            <p>Quote from a reviewer.</p>
            <h3><a href="#">Reviewer on GoodReads</a></h3>
        </section>
    </div>
    <div class="4u 12u(mobile)">
        <section class="highlight">
            <p>I loved this book. It was incredible.</p>
            <h3><a href="#">Internet Person</a></h3>
        </section>
    </div>
</div>